iframe {
    border: none;
    width:600px;
    height:440px
}
#frame1 {
    z-index: 1;
    width: 600px;
    height: 440px;
    display: block;
    margin: auto;
    margin-left: 660px;
}

.frame_video{
    margin:auto;
}

.overlay {
    top: 78px;
    /*left: 414px;*/
    width: 600px;
    height: 440px;
    position: absolute;
    display: inline-block;
}
#left_slide {
    text-align: center;
    line-height: 50px;
    display: inline-block;
    width: 190px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    transition:0.512s;
}
    #left_slide:hover {
        background-color:#870000;
        transition:0.512s;
    }

#right_slaid {
    text-align: center;
    line-height: 50px;
    display: inline-block;
    width: 190px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    transition:0.512s;
}
    #right_slaid:hover {
        background-color:#870000;
        transition:0.512s;
    }


#random_slide {
    text-align: center;
    line-height: 50px;
    display: inline-block;
    width: 190px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 5px;
    transition:0.512s;
}
    #random_slide:hover {
        background-color:#870000;
        transition:0.512s;
    }

#slide_buttons {
    background-color:black;
    margin: auto;
    width: 600px;
    height: 50px;
    margin-left: 660px;
}